<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Makzan<%= ': ' + current_page.data.title unless current_page.data.title.nil? %></title>
    <link rel="stylesheet" href="/stylesheets/website.css">
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>

    <script src="http://mint-shm.rhcloud.com/?js" type="text/javascript"></script>
  </head>
  <body>
    <div class="page">

      <aside>
        <header>
          <h1>Hello, My name is <a href='/' title='Back to home.'>makzan</a><small>. I teach web design and app development.</small></h1>
        </header>
        <nav>
          <ul>
            <li><%= link_to 'Archive', '/archive/', title: 'Previous essays.' %></li>
            <li><%= link_to 'Projects', '/projects/', title: 'Projects I build, including books and games.' %></li>
            <li><%= link_to 'Contact', '/contact/', title: 'Contact Makzan.' %></li>
            <li><%= link_to 'RSS Feed', '/feed.xml', title: 'Syndicated Feed.' %></li>
          </ul>
        </nav>

        <%= partial "top_area" %>
      </aside>

      <div id="main" role="main">
        <%= yield %>
      </div>


      <footer>
        <div class="search mobile-only"><input type="text" placeholder="Search..." class="st-default-search-input"></div>
        Copyright © 2005–2015, <a href='/about/' title='About Makzan'>Makzan</a>.
      </footer>
    </div>
    <script src="/javascripts/site.js"></script>
  </body>
</html>
