<h1>Articles tagged ‘<%= tagname %>’</h1>

<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<ol class='article-list'>
  <% page_articles.group_by {|a| a.date.year }.each do |year, articles| %>

    <li>
      <h2><%= year %></h2>
      <ol class='article-list'>
        <% articles.each_with_index do |article, i| %>
          <li><time><%= article.date.strftime('%b %d ') %></time> <%= link_to article.title, article %></li>
        <% end %>
      </ol>
    </li>
  <% end %>
</ol>


<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>